/* Hero Section */
.hero {
  width: 80vw;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  & .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    position: relative;
    z-index: 2;

    & .hero-subtitle {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 1.25rem;
      color: var(--font-color-black);
      margin-bottom: 1rem;
    }

    & .hero-title {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 200;
      font-size: 3.875rem;
      color: #000000;
      line-height: 1.2;
      margin-bottom: 2rem;
    }

    & .brilho1 {
      padding: 0px;
      border-radius: 100px;
      outline: 4px solid rgba(72, 186, 243, 0.3);
      width: fit-content;
      overflow: visible;
      z-index: 1;
      position: relative;
    }

    & .brilho1::before {
      transition: 0.35s ease-out;
      filter: blur(12px);
      background: linear-gradient(to right, transparent 30%, #a4d7f0 10%, #70cbf8 95%);
      width: 108%;
      height: 125%;
      left: 50%;
      top: 50%;
      content: "";
      will-change: filter;
      border-radius: 100px;
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: 1;
      opacity: var(--before-opacity, 1);
    }

    & .brilho1::after {
      transition: 0.35s ease-out;
      filter: blur(12px);
      background: linear-gradient(to left, transparent 30%, #b4dbee 80%, #189FE2 95%);
      width: 108%;
      height: 125%;
      left: 50%;
      top: 50%;
      content: "";
      will-change: filter;
      border-radius: 100px;
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: 1;
      opacity: var(--after-opacity, 0);
    }

    & .brilho2 {
      z-index: 5;
      overflow: hidden;
      border-radius: 100px;
      position: relative;
    }

    & .brilho2 .btn-cta {
      background: #f0f8ff;
      border: 3px solid #fff;
      padding: 15px 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      position: relative;
      transition: all 0.3s ease;
      color: #141414;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      cursor: pointer;
      z-index: 5;
    }

    & .brilho2 .btn-cta:hover {
      text-shadow: 0 0 10px rgba(72, 186, 243, 0.6), 0 0 20px rgba(72, 186, 243, 0.4), 0 0 30px rgba(72, 186, 243, 0.2);
    }

    & .brilho2 .btn-cta::before {
      background-image: radial-gradient(43.3% 44.23% at 50% 49.51%, #ffffff 29%, #D4ECFF 48.5%, #A8D8FF 60.71%, rgba(212, 236, 255, 0) 100%);
      filter: blur(5px);
      width: 300px;
      height: 150px;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(var(--button-translate-x, -10%), -50%);
      border-radius: 100%;
      transition: transform 0.8s cubic-bezier(.4, 0, .2, 1), opacity 0.3s ease;
      z-index: -1;
      opacity: 0;
    }

    & .brilho2 .btn-cta:hover::before {
      opacity: 1;
    }

    & .brilho2 .btn-cta.hovering::before {
      transition: transform 0.15s ease-out, opacity 0.3s ease !important;
    }
  }
}

.hero-img {
  position: absolute;
  top: 20%;
  left: 65%;
  width: 40%;
  z-index: -1;
  pointer-events: none;
}

.hero-img img {
  width: 100%;
  height: auto;
  display: block;

}
